@model Video_Rental_Shop.Models.ChangePasswordViewModel

@Styles.Render("~/Content/Custom/Manage/css/manage.css")

@{
    ViewBag.Title = "Change Password";
}

<div class="main-content-container">
    <h2 class="table-title">@ViewBag.Title</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <button id="password-change-button" type="submit">CHANGE</button>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
