@model Video_Rental_Shop.Models.IndexViewModel

@Styles.Render("~/Content/Custom/Manage/css/manage.css")

@{
    ViewBag.Title = "Manage";
}

<div class="main-content-container">

    <h2 class="table-title">@ViewBag.Title</h2>

    <div class="table-container">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, "Login")
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", disabled = "disabled" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserRole, "User role")
            @Html.TextBoxFor(m => m.UserRole, new { @class = "form-control", disabled = "disabled" })
        </div>
        @if (Model.HasPassword)
        {
            <button onclick="location.href='@Url.Action("ChangePassword", "Manage")'"> Change password</button>
        }
        else
        {
            <button onclick="location.href='@Url.Action("SetPassword", "Manage")'"> SetPassword</button>
        }
        <button onclick="location.href='@Url.Action("Register", "Account")'">Create new account</button>
    </div>
</div>
