@model Video_Rental_Shop.ViewModels.RentalDetailsViewModel

@{
    ViewBag.Title = "RentedProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int count = Model.RentalIds.Count();
}

@if (count > 0)
{
    <h2>Products rented for @Model.Customers.Name @Model.Customers.Surname</h2>

    <table id="rentals" class="table table-bordered table-hover">
        <thead>
            <tr style="display:none">
                <th></th>
            </tr>
            <tr>
                <th colspan="2" class="text-center" style="width:5%">Options</th>
                <th class="text-center" style="width:5%">#</th>
                <th>Customer</th>
                <th>Product Title</th>
                <th>Type</th>
                <th>Genre</th>
                <th>Date rented</th>
                <th>Date returned</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < count; i++)
            {

                string productType()
                {
                    if (@Model.Movies.ElementAt(i) != null)
                    {
                        return "Movie";
                    }
                    return "Game";
                }

                <tr>
                    @if (@Model.DateReturned.ElementAt(i) == null)
                    {
                        <td style="width:5%">@Html.ActionLink("Return", "ReturnProduct", "Rentals", new { rentalId = Model.RentalIds.ElementAt(i), productType = productType()}, new { @class = "btn btn-success btn-xs" })</td>
                    }
                    else
                    {
                        <td style="width:5%"><button class="btn btn-success btn-xs">Return</button> </td>
                    }

                    @if (@Model.Movies.ElementAt(i) != null)
                    {
                        <td style="width:5%">@Html.ActionLink("Details", "Details", "Movies", new { id = Model.Movies.ElementAt(i).Id }, new { @class = "btn btn-info btn-xs" })</td>
                        <td class="text-center">@(i + 1)</td>
                        <td>@Model.Customers.Name @Model.Customers.Surname</td>
                        <td>@Model.Movies.ElementAt(i).Name</td>
                        <td>Movie</td>
                        <td>@Model.Movies.ElementAt(i).MovieGenre.Name</td>
                    }

                    @if (@Model.Games.ElementAt(i) != null)
                    {
                        <td style="width:5%">@Html.ActionLink("Details", "Details", "Games", new { id = Model.Games.ElementAt(i).Id }, new { @class = "btn btn-info btn-xs" })</td>
                        <td class="text-center">@(i + 1)</td>
                        <td>@Model.Customers.Name @Model.Customers.Surname</td>
                        <td>@Model.Games.ElementAt(i).Name</td>
                        <td>Game</td>
                        <td>@Model.Games.ElementAt(i).GameGenre.Name</td>
                    }

                    <td>@Model.DatesRented.ElementAt(i).ToShortDateString()</td>

                    @if (@Model.DateReturned.ElementAt(i) != null)
                    {
                        <td>@Model.DateReturned.ElementAt(i).Value.ToShortDateString()</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>This customer didn't rent anything yet.</h2>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#rentals").DataTable();
        });
    </script>
}
