@model IEnumerable<Video_Rental_Shop.Models.Game>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content-container">
    @if (Model.Any())
    {
        <h2 class="table-title">Games</h2>
    }
    else
    {
        <h2 class="table-title">We don't have any games yet.</h2>
    }

@if (Model.Any())
{
    <div class="table-container">
        <table id="games" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center" style="width:5%">Options</th>
                    <th class="text-center" style="width:5%">#</th>
                    <th>Game</th>
                    <th>Genre</th>
                    <th>Platform</th>
                    <th>Release Date</th>
                    <th>Number Available</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td style="width:5%">@Html.ActionLink("Details", "Details", "Games", new { id = Model.ElementAt(i).Id }, new { @class = "btn btn-info btn-xs" })</td>
                        <td class="text-center">@(i + 1)</td>
                        <td>@Model.ElementAt(i).Name</td>
                        <td>@Model.ElementAt(i).GameGenre.Name</td>
                        <td>@Model.ElementAt(i).GamePlatform.Name</td>
                        <td>@Model.ElementAt(i).ReleaseDate.Value.ToShortDateString()</td>
                        <td>@Model.ElementAt(i).NumberAvailable</td>
                        <td>@Model.ElementAt(i).Price$</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#games").DataTable();
        });
    </script>
}
