@model Video_Rental_Shop.Models.Movie
@using Video_Rental_Shop.Models

@Styles.Render("~/Content/Custom/Shared/css/entity-form.css")

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content-container">
    <h2 class="table-title">Movie's details</h2>

    @using (Html.BeginForm("Edit", "Movies"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Movie Title")
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", disabled = "disabled" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ReleaseDate, "Release Date")
            @Html.TextBoxFor(m => m.ReleaseDate, "{0:dd-MM-yyyy}", new { @class = "form-control", disabled = "disabled" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NumberInStock, "Number In Stock")
            @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control", disabled = "disabled" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NumberAvailable, "Number Available")
            @Html.TextBoxFor(m => m.NumberAvailable, new { @class = "form-control", disabled = "disabled", Value = (Model.NumberAvailable < 0 ? 0 : Model.NumberAvailable) })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Price, "Price")
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control", disabled = "disabled" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MovieGenreId, "Genre")
            @Html.TextBoxFor(m => m.MovieGenre.Name, new { @class = "form-control", disabled = "disabled" })
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()

        if (this.User.IsInRole(RoleName.CanDoAllManipulationsOnEntities) || this.User.IsInRole(RoleName.CanDoManipulationsOnEntitiesExceptDeletion))
        {
            <button type="submit">EDIT</button>
        }
    }
</div>