@model Video_Rental_Shop.Models.RegisterViewModel

@Styles.Render("~/Content/Custom/Registration/css/registration.css")

<div class="registration-container">
    @{
        ViewBag.Title = "Create Account";
    }

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h1>@ViewBag.Title</h1>
        
        <img src="~/Content/Custom/Registration/img/user-icon.jpg">

        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "registration-input" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "registration-input" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password", @class = "registration-input" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>
                @Html.RadioButtonFor(m => m.IsManager, true, new { @class = "registration-radio" }) Manager
            </label>
            <label style="margin-left:10px">
                @Html.RadioButtonFor(m => m.IsManager, false, new { @class = "registration-radio" }) Guest
            </label>
        </div>
        <div class="form-group">
            <button id="signUp">SIGN UP</button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
