@model Video_Rental_Shop.Models.RegisterViewModel
@using Video_Rental_Shop.Enumerators;

@Styles.Render("~/Content/Custom/Registration/css/registration.css")

@{
    ViewBag.Title = "Create Account";
}

<div class="registration-container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        <img src="~/Content/Custom/Registration/img/user-icon.png">

        @Html.AntiForgeryToken()
        <h1>@ViewBag.Title</h1>

        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "registration-input" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "registration-input" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password", @class = "registration-input" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @if (this.User.IsInRole("CanDoAllManipulationsOnEntities"))
            {
                <label class="registration-radio">
                    @Html.RadioButtonFor(m => m.UserRole, Video_Rental_Shop.Enumerators.Roles.Manager) Manager
                </label>
                <label class="registration-radio">
                    @Html.RadioButtonFor(m => m.UserRole, Video_Rental_Shop.Enumerators.Roles.Employee) Employee
                </label>
                <label class="registration-radio">
                    @Html.RadioButtonFor(m => m.UserRole, Video_Rental_Shop.Enumerators.Roles.Guest) Guest
                </label>
                <br />
                @Html.ValidationMessageFor(m => m.UserRole, "", new { @class = "text-danger" })
            }
            else
            {
                <label class="registration-radio">
                    @Html.RadioButtonFor(m => m.UserRole, Video_Rental_Shop.Enumerators.Roles.Manager, new { disabled = "disabled" }) Manager
                </label>
                <label class="registration-radio">
                    @Html.RadioButtonFor(m => m.UserRole, Video_Rental_Shop.Enumerators.Roles.Employee, new { disabled = "disabled" }) Employee
                </label>
                <label class="registration-radio">
                    @Html.RadioButtonFor(m => m.UserRole, Video_Rental_Shop.Enumerators.Roles.Guest, new { Checked = "checked" }) Guest
                </label>
                <br />
                @Html.ValidationMessageFor(m => m.UserRole, "", new { @class = "text-danger" })
            }
        </div>
        <div class="form-group">
            <button id="signUp">SIGN UP</button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("input[type='radio']:disabled").parent().addClass("cursor-not-allowed");
        });
    </script>
}