@model IEnumerable<Video_Rental_Shop.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers</h2>

<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr style="display:none">
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th colspan="3" class="text-center" style="width:5%">Options</th>
                <th colspan="2" class="text-center" style="width:5%">Rentals</th>
                <th class="text-center" style="width:5%">#</th>
                <th>Customer</th>
                <th>Membership Type</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
            <tr>
                <td style="width:5%">@Html.ActionLink("Details", "Details", "Customers", new { id = Model.ElementAt(i).Id }, new { @class = "btn btn-info btn-xs" })</td>
                <td style="width:5%">@Html.ActionLink("Edit", "Edit", "Customers", new { id = Model.ElementAt(i).Id }, new { @class = "btn btn-warning btn-xs" })</td>
                <td style="width:5%"><button data-customer-id="@Model.ElementAt(i).Id" class="btn btn-danger btn-xs js-delete">Delete</button></td>
                <td style="width:5%">@Html.ActionLink("New", "New", "Rentals", new { id = Model.ElementAt(i).Id }, new { @class = "btn btn-info btn-xs" })</td>
                <td style="width:5%">@Html.ActionLink("History", "RentedProducts", "Rentals", new { id = Model.ElementAt(i).Id }, new { @class = "btn btn-success btn-xs" })</td>
                <td class="text-center">@(i + 1)</td>
                <td>@Model.ElementAt(i).Name @Model.ElementAt(i).Surname</td>
                <td>@Model.ElementAt(i).Membership.MembershipType.Name</td>
            </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#customers").DataTable();

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "Customers/Delete/" + button.attr("data-customer-id"),
                            success: function () {
                                location.reload();
                            }
                        });
                    }
                });
            });
        });
    </script>
}